
<ul>
  <% @projects.each do |project| %>

	  <% if project.description.blank? %>
	    <li><%= project.name %></li>
	  <% else %>
	    <li><%= link_to(project.name, project_entries_path(project)) %> - <%= project.description %></li>  
	    <!-- con el = xq es lo q se imprime x pantalla-->
	  <% end %>
  <% end %>
</ul>
	
  